/* CSS for the gallery-full-right layout */

.exhibit-item-link img {
    -webkit-box-shadow: #cccccc 3px 3px 3px;
    -moz-box-shadow: #cccccc 3px 3px 3px;
    box-shadow: #cccccc 3px 3px 3px;
}

#content > div.exhibit-block > div > div > div > a:hover > img:hover {
    -webkit-box-shadow: #777 3px 3px 3px;
    -moz-box-shadow: #777 3px 3px 3px;
    box-shadow: #777 3px 3px 3px;
}
}

.gallery-showcase img {
    -webkit-box-shadow: #cccccc 3px 3px 3px;
    -moz-box-shadow: #cccccc 3px 3px 3px;
    box-shadow: #cccccc 3px 3px 3px;
    max-width:440px;
    min-width:380px;
}

.layout-gallery .gallery-showcase {
  margin-bottom:1em;
}

#outeriframe
{
   width:960px;
   height:350px;
   overflow:hidden;
   position:relative;
}

#inneriframe
{
   position:absolute;
   top:-44px;
   left:-160px;
   width:1280px;
   height:1200px;
}

.gallery-thumbnails-text-bottom .exhibit-item {
	text-align: center;
}

.gallery-thumbnails-text-bottom .primary {
	text-align: center;	
}

.chrome #exhibit-page-title {
  padding-top: 0.67em;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.exhibit-item .full {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.exhibit-description .left {
    -webkit-box-shadow: #cccccc 3px 3px 3px;
    -moz-box-shadow: #cccccc 3px 3px 3px;
    box-shadow: #cccccc 3px 3px 3px;
    max-width:400px;
    float:left;
    margin: 5px 13px 5px 10px;
}

.exhibit-description .right {
    -webkit-box-shadow: #cccccc 3px 3px 3px;
    -moz-box-shadow: #cccccc 3px 3px 3px;
    box-shadow: #cccccc 3px 3px 3px;
    max-width:400px;
    float:right;
    margin: 5px 10px 5px 13px;
}

.caption-title {
  font-weight:bold;
  font-size:1.3em;
}

.caption-text-lg {
  font-size:1.3em;
}

.center-cropped {
    width: 100px;  // change to desired width.
    height: 100px; // change to desired height.
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
   min-height: 100%;
   min-width: 100%;

   /* IE 8 */
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   /* IE 5-7 */
   filter: alpha(opacity=0);
   /* modern browsers */
   opacity: 0;
}

#imageframe
{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    border: 5px solid #0D233C;
    float: left;
}
#imgthumb {
    position:absolute;
    left: -15%;
    right: -100%;
    top: -15%;
    bottom: -100%;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;
}

.in-text-quote  {
  color: #123E72;
  max-width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom:1em;
}

.right-quote {
  margin-right: 5%;
  margin-left: 45%;
}

.left-quote {
  margin-right: 45%;
  margin-left: 5%;
}

@media only screen and (max-width: 767px) {
.right-quote {
  margin-right: 5%;
  margin-left: 5%;
  clear:both;
}

.left-quote {
  margin-right: 5%;
  margin-left: 5%;
  clear:both;
}

  }

.in-text-quote p:first-of-type {
  font-size: 1.25em;
  line-height: 1.25em;
  margin-bottom: 3%;
  font-style:italic;
  text-align:justify;
}

.in-text-quote p:first-of-type:before {
  content:"\201C";
  font-size:1.5em;
}

.in-text-quote p:first-of-type:after {
  content:"\201D";
  font-size:1.5em;
}

.in-text-quote p:nth-of-type(2) {
  font-size: 0.9em; 
  margin-top:-10px;
  max-width:50%;
  text-align:right;
  float:right;
}

.exhibit-item-caption h3 {
  font-size:16px;
}

.exhibit-page-nav ul, .exhibit-page-nav li {
  margin-top:0px;
  width:100%;
}

#secondary-nav > li:nth-child(1) .exhibit-title {
  font-weight:600;
}

.exhibit-page-nav a:link, .exhibit-page-nav a:visited, .exhibit-page-nav a:visited {
  padding: 0px;
}

.exhibit-page-nav  li.current > a {
  font-weight:600;
}

li.current:nth-child(2) {
  font-style:italic;
}


#secondary-nav > li:nth-child(2) > ul:nth-child(1) {
  width: 100%;
  list-style:disc outside;
  margin-left:0.5em;
}


#secondary-nav > li:nth-child(2) > ul:nth-child(1) > li {
  float:left;
  line-height:1.5em;
  width:47%;
}

#secondary-nav > li:last-child {
  margin-bottom:1em;
}

.exhibit-tertiary li {
  margin-left:1em;
  line-height:1.2em;
  font-size:0.95em;
}

.exhibit-tertiary li.current > a {
  font-style:italic;
  font-weight:normal;
  color:#000 !important;
}

.exhibit-secondary li.current > a {
  font-style:italic;
}

.exhibit-child-nav a {
  background-color:#fff;
  padding:0px;
}

ul.exhibit-child-nav {
  width:100%;
  overflow:hidden;
  margin: -1.2em 0px 0px 0px;
  padding:0px;
}


ul.exhibit-child-nav > li {
  line-height:1.2em;
  float:left;
  margin:0px;
  padding:0px;
  width:47%;
}

#instructions > ul {
  margin-top: 0px;
  line-height: 1.4em;
}


h1 {
  clear:both;
}