.exhibit-gallery-item img {
	max-height:130px;
}

.exhibit-item-link img {
	border: 2px solid #333367;
	margin-top: 5px;
	margin-left: 3px;
	box-shadow:none !important;
}

.exhibit-item-link {
	vertical-align: bottom;
	display: block;
	float: left;
	width: 110px;
	margin-top: 5px;
	margin-left: 5px;
	box-shadow:none;
}

.exhibit-item-caption {
	font-size: 0.8em;
	margin-bottom: 1.2em !important;
	width: 83.5%;
	float: right;
	background-color: #fff;
	margin-top: 10px;
	min-height: 100px;
	margin-right: 8px;
	padding: 10px;
}


.exhibit-item-caption h3 {
	margin-top:0px;
}

.layout-gallery .exhibit-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1.25%;
    min-height: 120px;
    background-color: rgba(206, 217, 233, 1);
    min-width: 960px;
	margin-right: 5px;
}

.layout-gallery .exhibit-item-link *, .layout-gallery .download-file * {
    margin-bottom: 10px !important;
    max-width:none !important;
 }

@media only screen and (min-width: 768px) and (max-width: 959px) {

    .layout-gallery .exhibit-item {
    	width:700px;
    	border-left:5px solid rgba(206, 217, 233, 1);
    }

    .exhibit-item-link {
        float:none;
    }

    .layout-gallery .exhibit-item, .layout-gallery .gallery .exhibit-item:nth-of-type(4n) {
        width: 700px;
        min-width: 700px;
    }

    .exhibit-item-caption {
        width: 668px;
        float:none;
    }

    .layout-file-text .fullsize {
            clear:both;
            float:none !important;
        }

}

@media only screen and (max-width: 767px) {

	.layout-gallery .exhibit-item {
    	width:700px;
    	border-left:5px solid rgba(206, 217, 233, 1);
    }
    .exhibit-item-link {
        float:none;
    }

    .layout-gallery .exhibit-item .layout-gallery .gallery .exhibit-item:nth-of-type(4n) {
        width: 300px;
        min-width: 300px;
    }

    .exhibit-item-caption {
        width: 200px;
        float:none;
    }

    .layout-file-text .fullsize {
            clear:both;
            float:none !important;
        }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

   .layout-gallery .exhibit-item {
    	width:700px;
    	border-left:5px solid rgba(206, 217, 233, 1);
    }

    .exhibit-item-link {
        float:none;
    }

    .exhibit-item-caption {
        width: 320px;
        float:none;
    }

    .layout-gallery .exhibit-item .layout-gallery .gallery .exhibit-item:nth-of-type(4n) {
        width: 420px;
        min-width: 300px;
    }

    .layout-file-text .fullsize {
            clear:both;
            float:none !important;
        }


}

@media only screen and (max-width: 640px) {
    .layout-gallery .exhibit-item {
    	width:600px;
    	border-left:5px solid rgba(206, 217, 233, 1);
    }
    .exhibit-item-link {
        float:none;
    }

    .layout-gallery .exhibit-item, .layout-gallery .gallery .exhibit-item:nth-of-type(4n) {
        width:300px;
        min-width: 300px;
    }

    .exhibit-item-caption {
        width:290px;
    }

    .layout-file-text .fullsize {
        clear:both;
        float:none !important;
    }

}


p {
	font: 14px/18px "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    font-size-adjust: none;
    font-stretch: normal;
    -x-system-font: none;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
}

/* File w/Text Styles */
.layout-file-text 
.exhibit-items.fullsize {
max-width: 300px;
text-align: center;
padding: 10px 5px 0px 5px;
}

.layout-file-text 
.exhibit-items.left {
    margin-right:1%;
}

.layout-file-text 
.exhibit-items.right {
    margin-left:1%;
}

.left .download-file img {
    max-height:300px;
    -webkit-box-shadow: #cccccc 3px 3px 3px;
    -moz-box-shadow: #cccccc 3px 3px 3px;
    box-shadow: #cccccc 3px 3px 3px;
    border:2px solid #036;
    margin-bottom:10px;

}

.right .download-file img {
    max-height:300px;
    -webkit-box-shadow: #cccccc -3px 3px 3px;
    -moz-box-shadow: #cccccc -3px 3px 3px;
    box-shadow: #cccccc -3px 3px 3px;
    border:2px solid #036;
    margin-bottom:10px;

}

.layout-file-text .exhibit-items .download-file {
    margin:0;
    padding:0;
}


.layout-file-text .exhibit-item-caption h3 {
    margin-top:0px;
    font-size:10pt;
}

.layout-file-text .exhibit-item-caption p {
    font-size:8pt;
    font-style:italic;
    text-align: justify;
}