  /*******************/
 /* Top-most header */
/*******************/


#header:after, #main:after, #content:after, #navigation:after, #superfish_navigation:after, #footer_first:after, #footer_second:after, #footer:after {
    clear: both;
}
#header:before, #header:after, #main:before, #main:after, #content:before, #content:after, #navigation:before, #navigation:after, #superfish_navigation:before, #superfish_navigation:after, #footer_first:before, #footer_first:after, #footer_second:before, #footer_second:after, #footer:before, #footer:after {
    content: "";
    display: table;
}

#header {
    margin-top: 0.5em;
    width:960px; 
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  #header {
    width: 768px !important;
  }
}
@media only screen and (max-width: 767px) {
  #header {
    width: 300px !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #header {
    width: 420px !important;
  }
}


@media only screen and (max-width: 640px) {
  #header {
    width: 95%;
  }
}

#header, .header-secondary-links, #main, #content, #content_top, .content_1_left, .content_1_right, #content_bottom, .content_2_left, .content_2_right, .region-sidebar-first, .region-sidebar-second, #navigation, #time, #superfish_time, #footer_first, #footer_second, #footer {
    border: 0px none !important;
    word-wrap: break-word;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

.header__logo {
    float: left;
    margin: 0px;
    padding: 0px;
}

.header__logo-image {
    vertical-align: bottom;
    padding: 2px;
}

.header__name-and-slogan {
    float: left;
}

.header__site-name {
    margin-top: 0px;
    padding-top:0px;
    font-size: 1.15em;
    font-family: Helvetica;
    font-weight: bold;
    line-height: 1em;
    font-variant:normal;
    letter-spacing: 0;
    color: #5C5C5C !important;
}

.header__site-link:link, .header__site-link:visited {
    color: #000;
    text-decoration: none;
}

.header__site-slogan a, .header__site-slogan a:hover, .header__site-slogan a:focus {
    color: #000;
    text-decoration: none;
}

.header__site-slogan {
    margin: 0px;
    font-size: 1.3em;
    line-height:1.3em;
    font-family: Helvetica;
    font-weight: bold;
    font-variant:normal;
    color:#000 !important;
    padding-top:10px;
}

.header__site-link:link, .header__site-link:visited {
    color: #5C5C5C;
    text-decoration: none;
}

#sub-links {
    color: #F2F2F2;
    float: right;
    background-color: #333367;
    border: 2px solid #333367;
    font-size: 80%;
    text-align: justify;
    max-width: 415px;
}



#sub-links li a {
    font-size: 85%;
    text-decoration: none;
    color: #FFF;
}

#sub-links > ul > li {
    display: inline-block;
    width: auto;
    border-right: 1px solid #FFF;
    padding: 0px 15px;
}

#sub-links > ul > li:last-child {
    border-right: medium none;
}

@media only screen and (max-width: 640px) {
  #sub-links > ul > li {
    padding:0px 3px;
  }
}


#ask:after {
    content: " a Question";
}

#contact:after {
    content: " Us";
}

#visit:after {
    content: " the Library";
}

.header__secondary-menu {
    float: right;
}

#sub-nav-container {
    font-size: 1.5em;
    font-family: Arial;
    text-align: right;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

#sub-nav-container #sub-links ul {
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}

ul.inline {
    display: inline;
    padding: 0px;
}

ul.inline li {
    display: inline;
    list-style-type: none;
    padding: 0px 1em 0px 0px;
}


 

  /*******************/
 /* Footer          */
/*******************/

#footer-links {
    color: #FFF;
    background: none repeat scroll 0% 0% #333367;
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
    line-height: 0.8em;
    padding: 20px 0px;
    font-family: Verdana,Tahoma,"DejaVu Sans",sans-serif;
    width:960px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  #footer-links {
    width: 768px !important;
    line-height: 1em;
  }
}
@media only screen and (max-width: 767px) {
  #footer-links {
    width: 300px !important;
    line-height: 1em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #footer-links {
    width: 420px !important;
    line-height: 1em;
  }
}


@media only screen and (max-width: 640px) {
  #footer-links {
    width: 95%;
    line-height: 1em;
  }
}

#footer-links a {
    margin: 0px;
    color: #FFF;
    vertical-align: baseline;
    background: none repeat scroll 0% 0% transparent;
    text-decoration: none;
}

.ext, #footer-links a.ext {
    background: url('../images/extlink.png') no-repeat scroll right center transparent;
    padding-right: 12px;
}

#footer {
    padding-top: 5px;
    text-align:center;
    width:98%;
}

#footer .block {
    margin-bottom: 1.5em;
}

#footer-address {
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
    padding: 0px 0px 5px;
    color: #000;
    opacity: 0.8;
}

#footer-links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#footer-links  ul li {
    text-decoration:none;
    display: inline;
}

#footer-links  ul li:after {
    content:" \007C ";
}

#footer-links ul li:last-child:after {
    content:"";
}

  /*******************/
 /* Bibliography    */
/*******************/

.csl-bib-body {
    margin-left:1em;
    margin-bottom:2.5em;
}

.csl-entry {
	margin-bottom:1em;
}

.csl-block {
	margin-left:2em;
}


