.layout-file-text 
.exhibit-items.fullsize {
max-width: 300px;
text-align: center;
padding: 0px 5px 0px 5px;
}

.layout-file-text 
.exhibit-items.left {
	margin-right:1%;
}

.layout-file-text 
.exhibit-items.right {
	margin-left:1%;
}

.left .download-file img {
	max-height:300px;
	-webkit-box-shadow: #cccccc 3px 3px 3px;
    -moz-box-shadow: #cccccc 3px 3px 3px;
    box-shadow: #cccccc 3px 3px 3px;
    border:5px solid #036;
    margin-bottom:10px;

}

.right .download-file img {
	max-height:300px;
	-webkit-box-shadow: #cccccc -3px 3px 3px;
    -moz-box-shadow: #cccccc -3px 3px 3px;
    box-shadow: #cccccc -3px 3px 3px;
    border:5px solid #036;
    margin-bottom:10px;

}

.layout-file-text .exhibit-items .download-file {
	margin:0;
	padding:0;
}


.exhibit-item-caption h3 {
	margin-top:0px;
	font-size:10pt;
}


.layout-file-text .exhibit-item-caption p {
	font-size:8pt;
	font-style:italic;
	text-align: justify;
}

.layout-file-text .left-text {
	margin-left:310px;
}

.layout-file-text .right-text {
	margin-right:310px;
}

.gallery {
	margin-top:5em;
}

.exhibit-gallery-item img {
	max-width:150px;
}

.exhibit-item-link img {
	border: 5px solid #036;
	margin-top: 5px;
	box-shadow:none !important;
	margin-left:28px;
	margin-right:28px;
}

.exhibit-item-link {
	vertical-align: bottom;
	display: block;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	box-shadow:none;
}

.exhibit-block .gallery {
	background-color: #F7F7ED;
}

.layout-gallery .exhibit-item {
	background-color: #fff;
    margin: 1.25% !important;
    width: 22.5% !important;
}

.layout-gallery .exhibit-item-caption {
	padding:10px;
	text-align:justify;
}