.exhibit-gallery-item img {
	max-width:100px;
	max-height:100px;
}

.exhibit-item-link img {
	border: 5px solid #036;
	margin-top: 5px;
	margin-left: 3px;
	box-shadow:none !important;
}

.exhibit-item-link {
	vertical-align: bottom;
	display: block;
	float: left;
	width: 110px;
	margin-top: 5px;
	margin-left: 5px;
	box-shadow:none;
}

.exhibit-item-caption {
	font-size: 0.8em;
	margin-bottom: 1.2em !important;
	width: 835px;
	float: right;
	background-color: #fff;
	margin-top: 10px;
	min-height: 100px;
	margin-right: 8px;
	padding: 10px;
}


.exhibit-item-caption h3 {
	font-variant:small-caps;
	margin-top:0px;
}

.layout-gallery .exhibit-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1.25%;
    min-height: 120px;
    background-color: #F7F7ED;
    min-width: 960px;
	margin-right: 5px;
}

p {
	font: 14px/18px "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    font-size-adjust: none;
    font-stretch: normal;
    -x-system-font: none;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
}

.layout-gallery .gallery .exhibit-item:nth-of-type(4n) .exhibit-item-link {
   float:right;
}

.layout-gallery .gallery .exhibit-item:nth-of-type(4n) .exhibit-item-caption {
   float:right;
   margin-right:0px;
   margin-left:10px;
}

.layout-file-text 
.exhibit-items.fullsize {
max-width: 300px;
text-align: center;
padding: 10px 5px 0px 5px;
}

.layout-file-text 
.exhibit-items.left {
	margin-right:1%;
}

.layout-file-text 
.exhibit-items.right {
	margin-left:1%;
}

.left .download-file img {
	max-height:300px;
	-webkit-box-shadow: #cccccc 3px 3px 3px;
    -moz-box-shadow: #cccccc 3px 3px 3px;
    box-shadow: #cccccc 3px 3px 3px;
    border:5px solid #036;
    margin-bottom:10px;

}

.right .download-file img {
	max-height:300px;
	-webkit-box-shadow: #cccccc -3px 3px 3px;
    -moz-box-shadow: #cccccc -3px 3px 3px;
    box-shadow: #cccccc -3px 3px 3px;
    border:5px solid #036;
    margin-bottom:10px;

}

.layout-file-text .exhibit-items .download-file {
	margin:0;
	padding:0;
}


.layout-file-text .exhibit-item-caption h3 {
	font-variant:small-caps;
	margin-top:0px;
	font-size:10pt;
}

.layout-file-text .exhibit-item-caption p {
	font-size:8pt;
	font-style:italic;
	text-align: justify;
}
